/* COMMON */
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.container_70 {
    width: 70%;
    margin: auto;
}
.container_50 {
    width: 50%;
    margin: auto;
}
img {
    width: 100%;
}
.bg-lightgreen {
    color: white;
    background-color: #1abc9c;
}
.single-section {
    padding: 40px 0;
}
.centered {
    text-align: center;
}
/* HEADER */
header {
    color: white;
    background-color: #2c3e50;
    height: 100px;
    line-height: 100px;
}
header span {
    font-size: 24px;
}
.menu ul {
    display: none;
}
header li {
    display: inline-block;
    padding: 0 10px;
}
.burgher, .menu {
    text-align: right;
}
/* MAIN */
/* profile */
.profile-text, .imgdiv {
    text-align: center;
}
main li {
    display: inline-block;
}
.imgdiv {
    width: 50%;
    margin: auto;
}
@media screen and (max-width: 576px) {
    .jobs {
        font-size: 12px;
    }
}
/* portfolio part */
.img-wrapper {
    overflow: hidden;
    border-radius: 15px;
}
/* about part */
.about-text {
    text-align: left;
}
/* contact part */
.btn_green {
    color: white;
    background-color: #1abc9c;
}
/* FOOTER */
.first-footer {
    background-color: #3a546d;
}
.second-footer {
    background-color: #2c3e50;
}