/* COMMON */
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.container_70 {
    width: 70%;
    margin: auto;
}
.container_50 {
    width: 50%;
    margin: auto;
}
img {
    width: 100%;
}
.bg-lightgreen {
    color: white;
    background-color: #1abc9c;
}
.single-section {
    padding: 40px 0;
}
.centered {
    text-align: center;
}
.fa-star {
    padding: 20px 0;
    font-size: 26px;
}
.star-white {
    display: inline-block;
    color: white;
}
.star-black {
    display: inline-block;
    color: #2c3e50;
}
.star-white::before, .star-white::after {
    content: "";
    display: inline-block;
    background-color: white;
    height: 4px;
    width: 50px;
    margin: 10px;
}
.star-black::before, .star-black::after {
    content: "";
    display: inline-block;
    background-color: #2c3e50;
    height: 4px;
    width: 50px;
    margin: 10px;
}
/* HEADER */
header {
    color: white;
    background-color: #2c3e50;
    height: 100px;
    line-height: 100px;
}
header span {
    font-size: 24px;
}
.menu ul {
    display: none;
}
header li {
    display: inline-block;
    padding: 0 10px;
}
.burgher, .menu {
    text-align: right;
}
/* MAIN */
/* profile */
.profile-text, .imgdiv {
    text-align: center;
}
main li {
    display: inline-block;
}
.imgdiv {
    width: 50%;
    margin: auto;
}
@media screen and (max-width: 576px) {
    .jobs {
        font-size: 12px;
    }
}
/* portfolio part */
.img-wrapper {
    overflow: hidden;
    border-radius: 15px;
}
/* about part */
.about-text {
    text-align: left;
}
/* contact part */
.form-container input[type=text], .form-container textarea {
    border: none;
    border-bottom: 1px solid lightgrey;
    padding-bottom: 20px;
}
.form-control:focus {
    box-shadow: none;
}
.btn_green {
    color: white;
    background-color: #1abc9c;
}
/* FOOTER */
footer {
    color: white;
    font-weight: bold;
}
.first-footer {
    background-color: #3a546d;
}
.social {
    display: inline-block;
    line-height: 60px;
    width: 60px;
    height: 60px;
    margin: 5px;
    font-size: 22px;
    border: 1px solid white;
    border-radius: 50%;
}
.mainlink {
    text-decoration: none;
    color: #1abc9c;
}
.second-footer {
    background-color: #2c3e50;
}
.fa-copyright {
    font-size: 10px;
}